node_modules/
ifc/node_modules/

# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
www/font
var/doctrine
docker/varnish/libvmod-geoip-master
docker/varnish/libvmod-geoip2-master
