.l-list {
	margin-bottom: 20px;
	margin-left: 18px;

	@include m('unstyled') {
		list-style: none;
		margin-left: 0;
	}

	@include m('tabs') {
		@include flex-display;
		@include flex-flow(row wrap);
		list-style: none;
		margin: 0;
	}

	@include e('item') {

		@include m('inline') {
			@include inline-block;
		}

		@include m('tab') {
			@include flex(1);
		}
		
	}
	
}