.l-list {
	margin-bottom: 20px;
	margin-left: 18px;

	@include m('unstyled') {
		list-style: none;
		margin-left: 0;
	}

	@include m('tabs') {
		@include flex-display;
		@include flex-flow(row);
		@include justify-content(space-around);
		list-style: none;
		margin: 0;
	}

	@include e('item') {

		@include m('inline') {
			@include inline-block;
		}

		@include m('divider') {
			border-left: 2px solid rgba(255,255,255,0.25);
			margin-left: 8px;
			padding-left: 10px;
		}

		@include m('tab') {
			@include flex(1);
		}
		
	}
	
}