html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    background: transparent;
    color: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}


html {
    overflow: auto;
    font-size: 100%;
}

body {
    overflow: hidden;
    width: 100%;
}

img {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}

img:not([src]) {
    visibility: hidden;
}

address {
    font-style: normal;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    background: $highlight;
    color: $white;
}

::-moz-selection {
    background: $highlight;
    color: $white;
}

input[type='number'].no-spinners {
  -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $field-color;
  -webkit-box-shadow: 0 0 0px 1000px $field inset;
  transition: background-color 5000s ease-in-out 0s;
}

// Overides

.is-mobile-only {

	@include breakpoint('small-min') {
		display: none;
	}

	.ie8 & {
		display: none;
	}

}

.is-desktop-only {
	display: none;

	@include breakpoint('small-min') {
		display: inherit;
	}

	.ie8 & {
		display: inherit;
	}

}

.is-hidden {
    display: none !important;
}

.is-disabled {
	@include opacity(0.6);
}

.is-left {

    @include breakpoint('medium-min') {
        text-align: left;
    }

}

.is-center {

    @include breakpoint('medium-min') {
        text-align: center;
    }

}

.is-right {

    @include breakpoint('medium-min') {
        text-align: right;
    }

}

.is-left-only {
    text-align: left;
}

.is-center-only {
    text-align: center;
}

.is-right-only {
    text-align: right;
}

.fa-spacing {
    margin: 0 em(8);
}

.is-indent {
    border-left: 4px solid $primary;
    padding-left: em(20);
}