.c-follow {

	@media only screen and (min-width: $small-break) {
		text-align: right;
	}

	@include e('icon') {
		color: $white;
		@include font-size(24);
		margin: 0 5px;

		@media only screen and (min-width: $small-break) {
			@include font-size(28);
		}

		@include m('email') {
			
			&:hover {
				color: $primary;

				.the-freedom-campaign & {
					color: #9B48A3;
				}

			}

		}

		@include m('facebook') {
			
			&:hover {
				color: $facebook;
			}

		}

		@include m('instagram') {

			&:hover {
				color: $instagram;
			}

		}

		@include m('twitter') {
			
			&:hover {
				color: $twitter;
			}

		}

		@include m('whatsapp') {
			
			&:hover {
				color: $whatsapp;
			}

		}

		@include m('youtube') {
			
			&:hover {
				color: $youtube;
			}

		}

	}

}