.c-header {
	text-align: center;

	@media only screen and (min-width: $small-break) {
		text-align: left;
	}

	@include e('logo') {
		max-height: 64px;

		.enough-for-all &,
		.orangutans-forever & {
			max-height: 84px;
		}

	}

}