.c-hero {

	@media only screen and (min-width: $small-break) {
		@include flex-display;
		@include flex-flow(row wrap);
	}

	@include e('aside') {
		background-color: $panel;

		@media only screen and (min-width: $small-break) {
			@include align-items(center);
			@include flex(1);
			@include flex-display;
			@include flex-flow(row wrap);
			@include flex-order(2);
		}

		.the-freedom-campaign & {
			background-color: #9B48A3;
			color: $white;
		}

	}

	@include e('wrap') {
		padding: 20px;

		@media only screen and (min-width: $small-break) {
			padding: 40px;
		}

	}

	@include e('heading') {
		@include font-bold;
		@include font-size(24);
		@include line-height(28);
		margin-bottom: 12px;
	}

	@include e('text') {
		@include font-size(18);
		@include line-height(24);
		margin-bottom: 24px;
	}

	@include e('img') {
		display: block;
		background-color: black; 
		min-height: 220px;

		@media only screen and (min-width: $small-break) {
			@include flex(2);
			@include flex-order(1);
			min-height: 480px;
		}

	}

}