.c-lead-gen {
	background-color: $panel;
	margin-bottom: 10px;
	padding: 40px;

	@include e('header') {
		
	}

	@include e('heading') {
		
	}
	
	@include e('form') {
		
	}
	
	@include e('fields') {
		
	}

	@include e('submit') {
		
	}

	@include e('supporting') {
		
	}

	@include e('supporting-text') {
		
	}

	@include e('supporting-label') {
		
	}

}