.c-social {

	@include m('follow') {
		text-align: right;
	}

	@include m('share') {
		
	}

	@include e('icon') {
		color: $white;
		@include font-size(28);
		margin: 0 5px;
	
		@include m('large') {
			
		}

		@include m('round') {
			
		}

		@include m('outline') {
			
		}

		@include m('email') {
			
			&:hover {
				color: $primary;

				.the-freedom-campaign & {
					color: #9B48A3;
				}

			}

		}

		@include m('facebook') {
			
			&:hover {
				color: $facebook;
			}

		}

		@include m('instagram') {

			&:hover {
				color: $instagram;
			}

		}

		@include m('twitter') {
			
			&:hover {
				color: $twitter;
			}

		}

		@include m('whatsapp') {
			
			&:hover {
				color: $whatsapp;
			}

		}

		@include m('youtube') {
			
			&:hover {
				color: $youtube;
			}

		}

	}

}